PROJECT_NAME=your_wonderful_project_name

# -- Prefect Server -- #
PREFECT_PORT=4200
PREFECT_UI_API_URL=htpp://127.0.0.1:4200

# -- PostgreSQL -- #
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=database

# -- MinIO -- #
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me
