PROJECT_NAME=your_wonderful_project_name

# -- Prefect Server -- #
PREFECT_PORT=4200

# -- PostgreSQL -- #
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

# -- MinIO -- #
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me
